/*Head*/

html {
    position: relative;
    height: auto;
  }

/*Body*/

body {
    font-family: 'Times New Roman', Times, serif;
    background: rgb(62, 66, 55);
    }

.navbar-custom {
    background-color: gray;
    height: auto;
}

#nameplate {
    background-color: #6d695c;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(62, 66, 55);
    color: cornsilk;
    padding: 15px;
    border-radius: 15px;
    font-size: xx-large;
}

.navbuttons {
    position: relative;
    font-size: medium;
    text-align: center;
    color: cornsilk;
    background-color: rgb(62, 66, 55);
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #6d695c;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.navbuttons:hover {
    background-color: rgb(88, 141, 77); 
    color: cornsilk;
}

#backgroundpattern {/*argyle background*/
    width: 100%;
    background-color: #6d695c;
    background-image:
        repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
        repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
        linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
        linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;
}

hr {/*line just below 2nd header*/
    margin-top: 85px;
    height: 5px;
    color: #333;
    background-color: darkred;
}

.content {/*includes h2, img, <p>*/
    background-color: cornsilk;
    margin-top: 55px;
    margin-bottom: 55px;
    border-radius: 15px;
    padding: 30px;
    
}

#about-size {/*sizing of main content box*/
    width: 100%;
    height: auto;
}

#contact-size {/*sizing of main content box*/
    width: 700px;
    height: auto;
}

#portfolio-width {/*sizing of main content box*/
    max-width: 660px;
    height: auto;
}

h2 {/*Secondary header*/
    position: absolute;
    margin-left: 30px;
    font-size: xx-large;
    margin-top: 20px;
}

#rickpic {
    height: 200px;
    width: 235px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    transform: rotate(270deg);
}

p {
    font-family: "Courier New", Courier, monospace;
    line-height: 1.8;
    margin-left: 20px;
    margin-right: 20px;
}

.imageContainer {/*contains .projects*/
    Text-Align: Center;
}

.projects {
    height: 175px;
    margin: 5px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #6d695c;
    Display: Inline-Block;
}

/*Sticky Footer*/

body {
    margin-bottom: 60px;
  }

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color:rgb(62, 66, 55);
    border-top: 10px solid darkred;
  }